<!--{% load static %}-->
<!--<html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

<!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

<!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<style>-->
<!--table, th, td {-->
    <!--border: 1px solid black;-->
    <!--border-collapse: collapse;-->
<!--}-->
<!--th, td {-->
    <!--padding: 5px;-->
    <!--text-align: left;-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->

        <!--<h1><font color="red">Cart</font></h1>-->


                <!--<table>-->

                    <!--<tr>-->
                        <!--<th><b>Product Name</b></th>-->
                        <!--<th><b>Product Price</b></th>-->
                        <!--<th><b>Product quantity</b></th>-->
                        <!--<th><b>Unit Total</b></th>-->
                    <!--</tr>-->



                        <!--{% for item in cart_detail %}-->
                    <!--<tr>-->


                            <!--<td><p>{{ item.products.product_name }}</p></td>-->
                            <!--<td><p>{{ item.products.product_price }}</p></td>-->
                            <!--<td><p> <a href="{% url 'update_view' item.id 0 %}"><button><b>-</b></button></a>-->
<!--{{ item.quantity }}<a href="{% url 'update_view' item.id 1 %}"><button><b>+</b></button></a></p></td>-->
                            <!--<td><p>{{ item.unit_total }}</p></td>-->

                    <!--</tr>-->
                        <!--{% endfor %}-->



                <!--</table>-->
    <!--<p><h2><font color="red"><label>Total Price:</label> {{ totals }}</font></h2></p>-->
    <!--<p><button><a href="{% url 'rest_data' %}"><h4><font color="green">Continue Order Food</font></font> </h4></a></button></p>-->

            <!--</div>-->

























<!--&lt;!&ndash;<h1>Cart</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<p><h1>{{ a }}</h1></p>&ndash;&gt;-->


<!--&lt;!&ndash;{% for item in cart_detail %}&ndash;&gt;-->

<!--&lt;!&ndash;<p>{{ item.products.product_name }}&#45;&#45;&#45;&#45;{{ item.products.product_price }}&#45;&#45;&#45;&#45;{{ item.quantity }}&#45;&#45;&#45;&#45;{{ item.unit_total }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->


<!--</body>-->
<!--</html>-->