{% load static %}
<html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form>
        <h3><font color="red">Select your order</font></h3>
        {% for i in data %}
         <p><img src="{% static i.upload_image_path %}"></p>

        <p><label>Resturent Name:</label> {{ i.restaurant_name }}</p>
        <p><label>Resturent Description:</label> {{ i.restaurant_description }}</p>
        <p><label>Resturent Address:</label> {{ i.restaurant_address }}</p>
        {% for instance in product_data %}
        {% if i.id == instance.resturant_id %}
        <div>
            <div>
                <table>


                    <tr><p> {{ instance.product_name }}</p></tr>
                    <tr><p> {{ instance.product_description }}</p></tr>
                    <tr><p><label>₹</label> {{ instance.product_price }}</p></tr>

                </table>
            </div>

        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}








    </form>




</div>


<!--{{ data }}-->
<!--{{ product_data }}-->
            <!--<p> {{ data.restaurant_name }} </p>-->
            <!--&lt;!&ndash;<p> {{ data.restaurant_description }} </p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p> {{ data.restaurant_address }} </p>&ndash;&gt;-->

    <!--{% for i in data %}-->
            <!--<p><img src="{% static i.upload_image_path %}"></p>-->
            <!--<p> {{ i.restaurant_name }} </p>-->
            <!--<p> {{ i.restaurant_description }} </p>-->
            <!--<p> {{ i.restaurant_address }} </p>-->
            <!--{% for instance in product_data %}-->
                <!--{% if i.id == instance.resturant_id %}-->
                    <!--<p>{{ instance.product_name }}</p>-->
                    <!--<p>{{ instance.product_description }}</p>-->
                    <!--<p>{{ instance.product_description }}</p>-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
    <!--{% endfor %}-->



</body>
</html>