{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form>
        <h1><font color="red">Ahmedabad Food</font></h1>
        <h2>order food online</h2>
        <h1><font color="green">Resturents</font></h1>

        {% for i in data %}
            <p><img src="{% static i.upload_image_path %}"></p>
            <p><label>Resturent Name:</label><a href="{% url 'pro_data' i.id %}"> {{ i.restaurant_name }}</a></p>
            <p><label>Resturent Description:</label> {{ i.restaurant_description }}</p>
            <p><label>Resturent Address:</label> {{ i.restaurant_address }}</p>
        {% endfor %}
    </form>
</div>

</body>
</html>