{% load static %}
<html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form>
        <h1><font color="red">Ahmedabad Food</font></h1>
        <h2>order food online</h2>
        <h1><font color="green">Resturents</font></h1>

        {% for i in data %}
         <p><a href="{% url 'pro_data' i.id %}"><img src="{% static i.upload_image_path %}"></a></p>

        <p><label>Resturent Name:</label><a href="{% url 'pro_data' i.id %}"> {{ i.restaurant_name }}</a></p>
        <p><label>Resturent Description:</label> {{ i.restaurant_description }}</p>
        <p><label>Resturent Address:</label> {{ i.restaurant_address }}</p>
        {% endfor %}
    </form>
</div>

<!--{{ data }}-->


<!--{% for instance in data %}-->


    <!--&lt;!&ndash;<img src="{% static "mysite/download.jpg" %}" alt="My image">&ndash;&gt;-->
    <!--<p><a href="{% url 'pro_data' instance.id %}"><img src="{% static instance.upload_image_path %}"></a></p>-->
    <!--&lt;!&ndash;<p>{{ instance.upload_image_path }}</p>&ndash;&gt;-->

    <!--<p> {{ instance.id }} - <a href="{% url 'pro_data' instance.id %}">{{ instance.restaurant_name }}</a>  </p>-->
    <!--<p> {{ instance.restaurant_description }} </p>-->
    <!--<p> {{ instance.restaurant_address }} </p>-->


<!--{% endfor %}-->

</body>
</html>