asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2018.11.29
chardet==3.0.4
cryptography==2.1.4
Django==1.11.17
django-comments-xtd==2.3.0
django-contrib-comments==1.9.0
django-modelcluster==4.3
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.9.0
dnspython==1.15.0
docutils==0.14
draftjs-exporter==2.1.5
enum34==1.1.6
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.13.3
Pillow==5.3.0
psycopg2==2.7.4
pycrypto==2.6.1
pytesseract==0.2.5
pytz==2018.7
pyxdg==0.25
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
Unidecode==1.0.23
urllib3==1.24.1
virtualenv==16.1.0
wagtail==2.7.4
wagtailcomments-xtd==0.0.2
wagtailfontawesome==1.1.3
webencodings==0.5.1
Willow==1.1
dj-database-url==0.5.0
postgres==2.2.2
psycopg2-binary==2.7.5
django-environ
